#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
  transition: 0.1s;
  &.dark{
    background: var(--dark-background);
    color: var(--white);
    transition: 0.1s;

    .main-content form input {
      background: var(--light-black);
      color: var(--light-gray);
    }
  }

  aside {
    width: 52%;

    background: var(--purple);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 400px;
    }
    
    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: var(--background);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    .changeThemeButton{
      position: absolute;
      right: 20px;
      top: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: linear-gradient(-45deg, var(--pink), var(--purple));
      border: none;
      border-radius: 5px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.3s;

      img {
        width: 25px;
        height: 25px;
      }

      &:hover{ 
        transform: translateY(-2px);
      }
    }
    
    > img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: var(--white);
        border: 1px solid var(--medium-gray);

        &:focus {
          outline: none;
          border: 1px solid var(--purple);
        }
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: var(--dark-gray);
      margin-top: 16px;

      a {
        color: var(--pink);
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator { 
    font-size: 14px;
    color: var(--medium-gray);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--medium-gray);
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--medium-gray);
      margin-left: 16px;
    }
  }
}