.question {
  &.dark{
    background: var(--light-black);

    p{
      color: var(--white);
    }

    &.highlighted{
      background: var(--dark-background);
      footer .user-info span {
        color: var(--medium-gray);
      }
    }

    &.answered {
      background: rgba(27, 27, 36, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  background: var(--details);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba( 0, 0, 0, 0.04);
  padding: 24px;

  & + .question{
    margin-top: 8px;
  }
  
  &.highlighted {
    border: 1px solid var(--purple);
    background: var(--highlighted);
    
    footer .user-info span {
      color: var(--black);
    }
  }
  
  &.answered {
    background: var(--light-gray);
  }

  p {
    color: var(--black);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
        display: flex;
        align-items: center;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        span {
          margin-left: 8px;
          color: var(--dark-gray);
          font-size: 14px;
        }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      gap: 8px;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--dark-gray);

        &.liked {
          color: var(--purple);

          svg path{
            stroke: var(--purple);
          }
        }

        &:hover{
          filter: brightness(0.7);
        }
      }
    }
  }
}